@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Lexend+Deca:wght@100..900&display=swap");

/* CSS Reset */
*,
*:before,
*:after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

button {
  font: inherit;
}

/* Design System */
:root {
  --clr-heading: hsl(0, 0%, 95%);
  --clr-background-luxury: hsl(179deg 100% 13%);
  --clr-background-sedans: hsl(31deg 77% 52%);
  --clr-background-suvs: hsl(184deg 100% 22%);

  --spacing-0: 0px;
  --spacing-100: 8px;
  --spacing-300: 3 * var(--spacing-100);
  --spacing-400: 4 * var(--spacing-100);
  --spacing-500: 5 * var(--spacing-100);
  --spacing-600: 6 * var(--spacing-100);
  --spacing-1000: 10 * var(--spacing-100);

  --lh-heading: 120%;
  --lh-text: 165%;
}

/* CSS Layout n Styling */
body {
  height: 100vh;
  width: 100vw;
}

main {
  height: 100%;
  padding: clamp(2vw, 4vw + 1rem, 20vw);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 100%;
  overflow: hidden;
}

@media (max-width: 1010px) {
  main {
    grid-template-columns: 1fr;
  }
}

section {
  padding: clamp(2rem, 4vw + 1rem, 15vw);
  gap: 1.5rem;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
}

button {
  width: clamp(120px, 40vw + 2rem, 75%);
  border-radius: 25px;
  border-style: none;
  padding: 1rem;
}

section:not(.section-heading) {
  font-family: "Lexend Deca", sans-serif;
  line-height: var(--lh-text);
}

p:not(.section-heading) {
  color: white;
  opacity: 75%;
}

.section-heading {
  font-family: "Big Shoulders", sans-serif;
  color: var(--clr-heading);
  font-weight: bold;
  line-height: var(--lh-heading);
  font-size: min(40px, 2rem + 5vw);
  padding-top: 0.5rem;
}

.section-sedans {
  background-color: var(--clr-background-sedans);
  border-radius: 8px 0px 0px 8px;
}

.button-sedans {
  color: var(--clr-background-sedans);
}

.section-suvs {
  background-color: var(--clr-background-suvs);
}

.button-suvs {
  color: var(--clr-background-suvs);
}

.section-luxury {
  background-color: var(--clr-background-luxury);
  border-radius: 0px 8px 8px 0px;
}

.button-luxury {
  color: var(--clr-background-luxury);
}
